 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    background-color: khaki;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
img {
    /* Adding rounded image styles */
img {
    border-radius: 50%; /* Makes the image round */
    display: block; /* Ensures the border-radius is applied correctly */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 20px;
    max-height: 20px ;
}


}
